{% extends "layout.html" %}


{% block content %}
<p></p> 
</br>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Router {{r}}</h1>
</div>

<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">HOSTNAME</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{nombre}}</div>
              </div>
              <div class="col-auto">
                <i class="fas material-icons fa-3x  text-gray-300" style="font-size:48px">person</i>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">CPU Usage</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{cpu}}</div>
              </div>
              <div class="col-auto">
                <i class="fas material-icons fa-2x text-gray-300" style="font-size:48px">developer_board</i>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Memory Utilization</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{memp}}%</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-info" role="progressbar" style="width: {{memp}}%" aria-valuenow={{memp}} aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="material-icons fa-2x text-gray-300" style="font-size:48px">sd_storage</i>
              </div>
            </div>
          </div>
        </div>
      </div>
      -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperature</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" >{{temp}}</div>
              </div>
              <div class="col-auto">
                <i class="fas material-icons fa-2x text-gray-300" style="font-size:48px">whatshot</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Pie Chart -->
  <div class="row">
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Processor Memory Utilization</h6>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas id="myPieChartP" datamp="{{memp}}" ></canvas>
        </div>
        <div class="mt-4 text-center small">
          <span class="mr-2">
            <i class="fas fa-circle text-success"></i> Processor
          </span>
          <span class="mr-2">
            <i class="fas fa-circle text-info"></i> Other
          </span>
        </div>
      </div>
    </div>
  </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">I/O Memory Utilization</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChartIO" datamp="{{memp}}"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle text-success"></i> I/O
            </span>
            <span class="mr-2">
              <i class="fas fa-circle text-info"></i> Other
            </span>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <img src="static/graphs/CPU_R{{r}}.png" width="800" height="600">
    </div>

    <div class="row">
      <a href="static/pruebas.html">Graph in real time</a>
    </div>




{% endblock %}
{%block footer%}
{% endblock %}

{% block scripts %}

  <script>
    
  Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
  Chart.defaults.global.defaultFontColor = '#858796';

  var ctx = document.getElementById("myPieChartP");
  var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
  labels: ["","Proccesor", "Other"],
  datasets: [{
  data: [0,{{memp}}, {{memotp}}],
  backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
  hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
  hoverBorderColor: "rgba(234, 236, 244, 1)",
  }],
  },
  options: {
  maintainAspectRatio: false,
  tooltips: {
  backgroundColor: "rgb(255,255,255)",
  bodyFontColor: "#858796",
  borderColor: '#dddfeb',
  borderWidth: 1,
  xPadding: 15,
  yPadding: 15,
  displayColors: false,
  caretPadding: 10,
  },
  legend: {
  display: false
  },
  cutoutPercentage: 80,
  },
  });
  </script>

  <script>

    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    var ctx = document.getElementById("myPieChartIO");
    var myPieChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ["","I/O","Other"],
        datasets: [{
          data: [0,{{ memio }}, {{ memotio }}],
      backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
      hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
    },
    options: {
      maintainAspectRatio: false,
        tooltips: {
        backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
            borderColor: '#dddfeb',
              borderWidth: 1,
                xPadding: 15,
                  yPadding: 15,
                    displayColors: false,
                      caretPadding: 10,
    },
      legend: {
        display: false
      },
      cutoutPercentage: 80,
    },
    });
  </script>

{% endblock %}